.header {
    padding: 10px;
    border-radius: 10px;
    background-color: #ffcaca;
}

.content {
    padding: 20px;
}

.title {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffcaca;
}
