doctype html
html
    head
        style
            include style.css

    body
        div.header
            h3
                b MyLogo
        div
            block content

        div.footer
            | GitHub
            br
            | LinkedIn
            br
            | Facebook

